.App {
  text-align: center;
  min-height: 100vh;
  color: #f2f2f2;
  background-color: #f2f2f2;
  font-family: "Barlow Condensed", sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
}
/* HEADER  */
Header {
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "Home HeaderTitle User";
  align-items: center;
  height: 5vh;
}
.Home {
  grid-area: Home;
  color: #f2f2f2;
  text-decoration: none;
  font-size: x-large;
}
.HeaderTitle {
  grid-area: HeaderTitle;
}
.User {
  grid-area: User;
  color: #f2f2f2;
  text-decoration: none;
  font-size: x-large;
}

/* NAV BAR */
Nav {
  background-color: #333;
  overflow: scroll;
  padding: 3px 0px;
}
.navContainer {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: max-content;
  list-style-type: none;
}

.navItem {
  border: 2px solid #fbb13c;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
}

/* FILTER -NOT YET DONE */
.filter {
  background-color: #333;
  overflow: scroll;
  padding: 3px 0px;
  height: 5vh;
}

/* REVIEWS */
#Games {
  display: flex;
  overflow: scroll;
}
.reviewsList {
  padding: 3px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.reviewItemCard {
  display: grid;
  grid-template-rows: 25px 40px 150px 100px 20px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "Owner Owner"
    "Title Title"
    "ReviewImg ReviewImg"
    "ReviewTextContainer ReviewTextContainer"
    "Votes Comments";
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #fbb13c;
  padding: 10px;
  margin: 5px;
  align-items: stretch;
  text-align: left;
}

.Owner {
  grid-area: Owner;
  border-radius: 10px;
  align-content: flex-start;
}
.Title {
  grid-area: Title;
  border-radius: 10px;
  font-size: medium;
}
.ReviewImg {
  grid-area: ReviewImg;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.ReviewTextContainer {
  font-size: small;
  grid-area: ReviewTextContainer;
  overflow: scroll;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "ReviewText";
  border: 2px solid #fbb13c;
  border-radius: 10px;
  padding: 5px;
}
.ReviewText {
  grid-area: ReviewText;
  display: flex;
  padding: 5px;
}

/* VOTES  */
.Votes {
  grid-area: Votes;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "UpVote Vote DownVote";
  width: fit-content;
  margin: 5px 0px;
}
.UpVote {
  padding: 0px 5px;
}
.Vote {
  padding: 0px 5px;
}
.DownVote {
  padding: 0px 5px;
}

/* COMMENTS */
.Comments {
  grid-area: Comments;
  border-radius: 10px;
  text-align: right;
  color: #f2f2f2;
  text-decoration: none;
}

.CommentsContainer {
  padding: 3px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.CommentsItemCard {
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-template-columns: 100%;
  grid-template-areas:
    "Author"
    "Body"
    "Votes";
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #fbb13c;
  padding: 10px;
  margin: 5px;
  text-align: left;
}

.Author {
  grid-area: Author;
}
.Body {
  grid-area: Body;
}

/* FOOTER- ADD REVIEW/COMMENT */
.AddElement {
  border: 2px solid #fbb13c;
  height: 5vh;
  font-size: x-large;
  border-radius: 10px 10px 0px 0px;
  background-color: #333;
}

/* GENERAL */
.heading {
  color: #333;
}

form {
  background-color: #333;
  text-align: center;
}
main {
  height: 84vh;
  overflow: scroll;
}
