.App {
  text-align: center;
  min-height: 100vh;
  color: #f2f2f2;
  background-color: #f2f2f2;
  font-family: "Barlow Condensed", sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
}
/* HEADER  */
Header {
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "Home HeaderTitle User";
  align-items: center;
  height: 5vh;
  position: sticky;
  top: 0;
}
.Home {
  grid-area: Home;
  color: #f2f2f2;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}
.HeaderTitle {
  grid-area: HeaderTitle;
}
.User {
  grid-area: User;
  color: #f2f2f2;
  text-decoration: none;
  font-size: x-large;
}

/* NAV BAR */
Nav {
  background-color: #333;
  overflow: scroll;
  padding: 3px 0px;
}
.navContainer {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: max-content;
  list-style-type: none;
}

.navItem {
  border: 2px solid #fbb13c;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
}
.navItem :active {
  color: red;
  background-color: #fbb13c;
}

/* FILTERS and SORT BY*/

.sortFiltContainer {
  padding: 2px 0px;
  display: grid;
  grid-template-columns: 10% 50% 13% 25%;
  grid-template-areas: "SortBy sortByOptions Filters filterOptions";
  background-color: #333;
  height: 4vh;
  font-size: medium;
  color: #f2f2f2;
  padding-left: 3px;
  text-align: left;
  align-items: center;
}
.SortBy {
  grid-area: SortBy;
  display: flex;
  flex-direction: row;
}
.sortByOptions {
  grid-area: sortByOptions;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  list-style: none;
}
.Filters {
  grid-area: Filters;
}
.filterOptions {
  grid-area: filterOptions;
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow: scroll;
}

/* REVIEWS */
#Games {
  display: flex;
  overflow: scroll;
}
.reviewsList {
  padding: 5%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.reviewItemCard {
  display: grid;
  grid-template-rows: 25px 45px 150px 100px 20px;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "Owner TimeAndCategory"
    "Title Title"
    "ReviewImg ReviewImg"
    "ReviewTextContainer ReviewTextContainer"
    "Votes Comments";
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #fbb13c;
  padding: 10px;
  margin: 5px;
  align-items: stretch;
  text-align: left;
}

.Owner {
  grid-area: Owner;
  border-radius: 10px;
  align-content: flex-start;
  font-size: large;
}
.TimeAndCategory {
  grid-area: TimeAndCategory;
  text-align: end;
  font-size: medium;
}
.Title {
  grid-area: Title;
  border-radius: 10px;
  font-size: large;
}
.ReviewImg {
  grid-area: ReviewImg;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.ReviewTextContainer {
  font-size: medium;
  grid-area: ReviewTextContainer;
  overflow: scroll;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "ReviewText";
  border: 2px solid #fbb13c;
  border-radius: 10px;
  padding: 5px;
}
.ReviewText {
  grid-area: ReviewText;
  display: flex;
  padding: 5px;
}

/* VOTES  */
.Votes {
  grid-area: Votes;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "UpVote Vote DownVote";
  width: fit-content;
  margin: 5px 0px;
  font-weight: bold;
}
.UpVote {
  grid-area: UpVote;
  padding: 0px 5px;
}
.Vote {
  grid-area: Vote;
  padding: 0px 5px;
}
.DownVote {
  grid-area: DownVote;
  padding: 0px 5px;
}
.UpVoteActive {
  /* grid-area: Vote; */
  color: rgb(8, 233, 8);
  padding: 0px 5px;
}
.DownVoteActive {
  /* grid-area: DownVote; */
  color: red;
  padding: 0px 5px;
}

/* COMMENTS */
.Comments {
  grid-area: Comments;
  border-radius: 10px;
  text-align: right;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
}

.CommentsContainer {
  padding: 3px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.CommentsItemCard {
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-template-columns: 95% 5%;
  grid-template-areas:
    "Author DeleteButton"
    "Body Body"
    "Votes Votes";
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #fbb13c;
  padding: 10px;
  margin: 5px;
  text-align: left;
}

.Author {
  grid-area: Author;
}
.Body {
  grid-area: Body;
}
.DeleteButton {
  grid-area: DeleteButton;
}

/* FOOTER- ADD REVIEW/COMMENT */
.AddElement {
  border: 2px solid #fbb13c;
  height: 5vh;
  font-size: x-large;
  border-radius: 10px 10px 0px 0px;
  background-color: #333;

  position: sticky;
  bottom: 0;
}

/* GENERAL */
.heading {
  color: #333;
}

form {
  background-color: #333;
  text-align: center;
}
.gamesMain {
  height: 84vh;
  overflow: scroll;
}

.commentsMain {
  height: 90vh;
  overflow: scroll;
}

.loading {
  color: #333;
}
